
html {
    font-family: "Open Sans", sans-serif !important;
    font-size: 12px !important;
    color: #333 !important;
}

label{
  font-weight: 250 !important;
}

.navbar{
  justify-content: left !important;
  padding: 0rem !important;

}


.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable{
  overflow: visible !important;
}

.ui-dialog-content ui-widget-content{
  width: 100%;
}


table.dataTable thead tr {
  /*background-color: #DFDFDF;*/
  text-align: center;
  text-decoration: bold;
}
table.dataTable thead th {
  word-wrap: normal !important;
  max-width: 100px !important;
  white-space: break-spaces !important;
  /*overflow-x:auto !important;*/
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
table.dataTable tbody tr.selected {
    color: black !important;
    background-color: #B0BED9 !important;
}

table.dataTable tbody td{
    word-wrap: break-word !important;
    max-width: 100px !important;
}

.main-header .sidebar-toggle{
  padding: 18px 18px;
  font-family: fontAwesome !important;
  
}

.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px !important;
    display: block !important;
    font-size: 12px !important;
}

.skin-blue .sidebar-menu>li.header {
    color: #fff !important;
    background: #1a2226 !important;
    font-size: 14px !important;
    text-align: center !important;
}

.user-panel>.info>p {
    font-weight: 600 !important;
    margin-bottom: 9px !important;
    font-size: 14px !important;
    /* font-weight: bold; */
}

a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none !important;
}